.shopping_cart_page_items {
  display: flex;
  height: 300px;
  gap: 1.5rem;

  color: rgba(0, 0, 0, 0.87);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;

  img {
    width: 40%;
  }

  .shopping_cart_page_items_info {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    gap: 0.5rem;
    margin: auto;

    h2,
    h1,
    h3 {
      margin: 0;
      padding: 0;
    }
  }
}
