.product__page {
  display: flex;
  margin: auto;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 55%;
  max-width: 25%;
  border: 1px solid red;
  font-size: 1.5rem;
  overflow: auto;
}
