.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: default;
}

.modal-content {
  width: 30%;
  height: 200px;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
}

.modal-content-login {
  height: 150px;
  width: 25%;
}

.modal-content-checkout {
  height: 50%;
  width: 25%;
}

.modal-content-messages {
  height: 150px;
  width: 25%;
}
