.all__products {
  margin: 25px auto auto auto;

  // width: 80%;

  & .all__products__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  & .pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1rem;

    li a {
      border: 1px solid #1e2f97;
      padding: 0.5rem 1rem;
      cursor: pointer;
      border-radius: 4px;
    }

    li a:hover {
      background-color: lightskyblue;
      color: black;
    }

    li.active a {
      background-color: #1aa7ec;
      color: white;
    }

    li.disabled a {
      display: none;
    }
  }
}
